<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>loginServ</servlet-name>
  	<display-name>loginServ</display-name>
  	<description></description>
  	<servlet-class>com.yasir.web.loginServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>sendEmailServlet</servlet-name>
  	<display-name>sendEmailServlet</display-name>
  	<description></description>
  	<servlet-class>com.yasir.web.sendEmailServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.yasir.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>registerServ</servlet-name>
  	<display-name>registerServ</display-name>
  	<description></description>
  	<servlet-class>com.yasir.web.registerServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OtpValidate</servlet-name>
  	<display-name>OtpValidate</display-name>
  	<description></description>
  	<servlet-class>com.yasir.web.OtpValidate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>otpValidate</servlet-name>
  	<display-name>otpValidate</display-name>
  	<description></description>
  	<servlet-class>com.yasir.web.otpValidate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logoutServ</servlet-name>
  	<display-name>logoutServ</display-name>
  	<description></description>
  	<servlet-class>com.yasir.web.logoutServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>studentRegisterServ</servlet-name>
  	<display-name>studentRegisterServ</display-name>
  	<description></description>
  	<servlet-class>com.yasir.web.studentRegisterServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateStudentServ</servlet-name>
  	<display-name>updateStudentServ</display-name>
  	<description></description>
  	<servlet-class>com.yasir.web.updateStudentServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteStudentServ</servlet-name>
  	<display-name>deleteStudentServ</display-name>
  	<description></description>
  	<servlet-class>com.yasir.web.deleteStudentServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>registerTeacherServ</servlet-name>
  	<display-name>registerTeacherServ</display-name>
  	<description></description>
  	<servlet-class>com.yasir.web.registerTeacherServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>classAssignServ</servlet-name>
  	<display-name>classAssignServ</display-name>
  	<description></description>
  	<servlet-class>com.yasir.web.classAssignServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>markAttendanceServ</servlet-name>
  	<display-name>markAttendanceServ</display-name>
  	<description></description>
  	<servlet-class>com.yasir.web.markAttendanceServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginStudentServ</servlet-name>
  	<display-name>loginStudentServ</display-name>
  	<description></description>
  	<servlet-class>com.yasir.web.loginStudentServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>checkAttendanceServ</servlet-name>
  	<display-name>checkAttendanceServ</display-name>
  	<description></description>
  	<servlet-class>com.yasir.web.checkAttendanceServ</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginServ</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>sendEmailServlet</servlet-name>
  	<url-pattern>/sendEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>registerServ</servlet-name>
  	<url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>otpValidate</servlet-name>
  	<url-pattern>/OtpSuccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logoutServ</servlet-name>
  	<url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>studentRegisterServ</servlet-name>
  	<url-pattern>/studentRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateStudentServ</servlet-name>
  	<url-pattern>/updateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteStudentServ</servlet-name>
  	<url-pattern>/deleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>registerTeacherServ</servlet-name>
  	<url-pattern>/registerTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>classAssignServ</servlet-name>
  	<url-pattern>/classAssignServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>markAttendanceServ</servlet-name>
  	<url-pattern>/markAttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginStudentServ</servlet-name>
  	<url-pattern>/loginStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>checkAttendanceServ</servlet-name>
  	<url-pattern>/checkAttendanceServlet</url-pattern>
  </servlet-mapping>
</web-app>
